In [324]:
import pandas as pd
import re

Se carga la data

In [41]:
data0=pd.read_csv('dataUN - HDR21-22_Statistical_Annex_HDI_Table.csv')

In [42]:
data0

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Se limita el espacio donde se trabajará

In [46]:
data1=data0.iloc[3:229]

In [47]:
data1=data1.reset_index(drop=True) #Se reinicia el index

In [66]:
data1

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
1,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN
2,NaN,NaN,2021,NaN,2021,NaN,2021,a,2021,a,2021,NaN,2021,b,2020
3,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Switzerland,962,NaN,84.0,NaN,16.5,NaN,13.9,NaN,"66,933",NaN,5,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,NaN,Small island developing states,730,NaN,70.3,NaN,12.4,NaN,9.1,NaN,"16,782",NaN,—,NaN,—
222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,NaN,Organisation for Economic Co-operation and Dev...,899,NaN,79.0,NaN,16.5,NaN,12.3,NaN,"45,087",NaN,—,NaN,—
224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,NaN,World,732,NaN,71.4,NaN,12.8,NaN,8.6,NaN,"16,752",NaN,—,NaN,—

Se homogeiniza los nombres de los campos, se eliminan las filas sin ningún valor y las columnas sin importancia

In [174]:
data2=data1.dropna(axis=0, how='all') #Se elimina las filas sin ningun valor

In [175]:
data2=data2.iloc[:,[0,1,2,4,6,8,10,12,14]] #Se considera solo las columnas con importancia

In [176]:
data2.columns=data2.iloc[0:3,:].fillna('').apply(lambda x: ' '.join((x))) #Se crea los nombres de las columnas

In [177]:
data2.columns=data2.columns.str.strip() #Se quitan espacios inncesarios

In [178]:
data3=data2.copy()

In [179]:
data3.drop([0,1,2], inplace=True) #Se eliminan filas inncesarias

In [180]:
data3

,HDI rank,Country,Human Development Index (HDI) Value 2021,Life expectancy at birth (years) 2021,Expected years of schooling (years) 2021,Mean years of schooling (years) 2021,Gross national income (GNI) per capita (2017 PPP $) 2021,GNI per capita rank minus HDI rank 2021,HDI rank 2020
3,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Switzerland,962,84.0,16.5,13.9,"66,933",5,3
5,2,Norway,961,83.2,18.2,13.0,"64,660",6,1
6,3,Iceland,959,82.7,19.2,13.8,"55,782",11,2
7,4,"Hong Kong, China (SAR)",952,85.5,17.3,12.2,"62,607",6,4
...,...,...,...,...,...,...,...,...,...
218,NaN,Sub-Saharan Africa,547,60.1,10.3,6.0,"3,699",—,—
220,NaN,Least developed countries,540,64.2,10.2,5.2,"2,881",—,—
221,NaN,Small island developing states,730,70.3,12.4,9.1,"16,782",—,—
223,NaN,Organisation for Economic Co-operation and Dev...,899,79.0,16.5,12.3,"45,087",—,—
225,NaN,World,732,71.4,12.8,8.6,"16,752",—,—

In [181]:
data3.reset_index(drop=True, inplace=True) #Se reinicia index

Se convierte a números

In [350]:
data4=data3.copy()

In [351]:
#Se asegura de que solo hayan símbolos en las columnas númericas de  punto, coma y numeros
data4.loc[:, data4.columns != 'Country']=data4.loc[:, data4.columns != 'Country'].applymap(lambda x: ''.join(re.findall(r'[\d.,]', str(x))))

In [352]:
#Se itera por columna y se va coercionando para que tenga valor numerico
for column in data4.columns:
    if column != 'Country':
        data4[column] = pd.to_numeric(data4[column], errors='coerce')

In [353]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 9 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   HDI rank                                                  191 non-null    float64
 1   Country                                                   217 non-null    object
 2   Human Development Index (HDI) Value 2021                  206 non-null    float64
 3   Life expectancy at birth (years) 2021                     210 non-null    float64
 4   Expected years of schooling (years) 2021                  208 non-null    float64
 5   Mean years of schooling (years) 2021                      206 non-null    float64
 6   Gross national income (GNI) per capita (2017 PPP $) 2021  3 non-null      float64
 7   GNI per capita rank minus HDI rank  2021                  191 non-null    float64
 8   HDI rank  2020                                            191 non-null    float64
dtypes: float64(8), object(1)
memory usage: 15.4+ KB

Se separan a los países individuales de otros paises o territorios

In [354]:
#Encontrar final (191)
paises=data4.iloc[:data4[data4.loc[:,'HDI rank']==191].index[0]+1,:]

In [355]:
paises

,HDI rank,Country,Human Development Index (HDI) Value 2021,Life expectancy at birth (years) 2021,Expected years of schooling (years) 2021,Mean years of schooling (years) 2021,Gross national income (GNI) per capita (2017 PPP $) 2021,GNI per capita rank minus HDI rank 2021,HDI rank 2020
0,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Switzerland,962.0,84.0,16.5,13.9,NaN,5.0,3.0
2,2.0,Norway,961.0,83.2,18.2,13.0,NaN,6.0,1.0
3,3.0,Iceland,959.0,82.7,19.2,13.8,NaN,11.0,2.0
4,4.0,"Hong Kong, China (SAR)",952.0,85.5,17.3,12.2,NaN,6.0,4.0
...,...,...,...,...,...,...,...,...,...
190,187.0,Burundi,426.0,61.7,10.7,3.1,732.0,4.0,187.0
191,188.0,Central African Republic,404.0,53.9,8.0,4.3,966.0,1.0,188.0
192,189.0,Niger,400.0,61.6,7.0,2.1,NaN,3.0,189.0
193,190.0,Chad,394.0,52.5,8.0,2.6,NaN,7.0,190.0
194,191.0,South Sudan,385.0,55.0,5.5,5.7,768.0,1.0,191.0

In [356]:
otros=data4.iloc[data4[data4.loc[:,'HDI rank']==191].index[0]+2:,:]

In [357]:
otros

,HDI rank,Country,Human Development Index (HDI) Value 2021,Life expectancy at birth (years) 2021,Expected years of schooling (years) 2021,Mean years of schooling (years) 2021,Gross national income (GNI) per capita (2017 PPP $) 2021,GNI per capita rank minus HDI rank 2021,HDI rank 2020
196,NaN,Korea (Democratic People's Rep. of),NaN,73.3,10.8,NaN,NaN,NaN,NaN
197,NaN,Monaco,NaN,85.9,NaN,NaN,NaN,NaN,NaN
198,NaN,Nauru,NaN,63.6,11.7,NaN,NaN,NaN,NaN
199,NaN,Somalia,NaN,55.3,NaN,NaN,NaN,NaN,NaN
200,NaN,Human development groups,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,Very high human development,896.0,78.5,16.5,12.3,NaN,NaN,NaN
202,NaN,High human development,754.0,74.7,14.2,8.3,NaN,NaN,NaN
203,NaN,Medium human development,636.0,67.4,11.9,6.9,NaN,NaN,NaN
204,NaN,Low human development,518.0,61.3,9.5,4.9,NaN,NaN,NaN
205,NaN,Developing countries,685.0,69.9,12.3,7.5,NaN,NaN,NaN
206,NaN,Regions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,NaN,Arab States,708.0,70.9,12.4,8.0,NaN,NaN,NaN
208,NaN,East Asia and the Pacific,749.0,75.6,13.8,7.8,NaN,NaN,NaN
209,NaN,Europe and Central Asia,796.0,72.9,15.4,10.6,NaN,NaN,NaN
210,NaN,Latin America and the Caribbean,754.0,72.1,14.8,9.0,NaN,NaN,NaN
211,NaN,South Asia,632.0,67.9,11.6,6.7,NaN,NaN,NaN
212,NaN,Sub-Saharan Africa,547.0,60.1,10.3,6.0,NaN,NaN,NaN
213,NaN,Least developed countries,540.0,64.2,10.2,5.2,NaN,NaN,NaN
214,NaN,Small island developing states,730.0,70.3,12.4,9.1,NaN,NaN,NaN
215,NaN,Organisation for Economic Co-operation and Dev...,899.0,79.0,16.5,12.3,NaN,NaN,NaN
216,NaN,World,732.0,71.4,12.8,8.6,NaN,NaN,NaN

## Países

In [358]:
#Se trabaja con paises

In [359]:
paises['Development']=''

C:\Users\Rofer\AppData\Local\Temp\ipykernel_1528\75701338.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises['Development']=''

In [360]:
categorias=paises[paises['HDI rank'].isna()].Country.reset_index(drop=True)

In [361]:
categorias

0    VERY HIGH HUMAN DEVELOPMENT
1         HIGH HUMAN DEVELOPMENT
2       MEDIUM HUMAN DEVELOPMENT
3          LOW HUMAN DEVELOPMENT
Name: Country, dtype: object

In [362]:
indices=paises[paises['HDI rank'].isna()].Country.index

In [363]:
indices

Index([0, 67, 117, 162], dtype='int64')

In [364]:
paises1=paises.copy()

In [365]:
for i in range(len(categorias)): #Se forma columna asignando a que tipo de desarrollo  tiene el pais
    if i==len(categorias)-1:
        paises1.loc[indices[i]: , 'Development']=categorias[i]
    else:
        paises1.loc[indices[i]:indices[i+1], 'Development']=categorias[i]

In [366]:
paises2 = paises1[~paises1['Country'].isin(categorias)]

In [367]:
paises2

,HDI rank,Country,Human Development Index (HDI) Value 2021,Life expectancy at birth (years) 2021,Expected years of schooling (years) 2021,Mean years of schooling (years) 2021,Gross national income (GNI) per capita (2017 PPP $) 2021,GNI per capita rank minus HDI rank 2021,HDI rank 2020,Development
1,1.0,Switzerland,962.0,84.0,16.5,13.9,NaN,5.0,3.0,VERY HIGH HUMAN DEVELOPMENT
2,2.0,Norway,961.0,83.2,18.2,13.0,NaN,6.0,1.0,VERY HIGH HUMAN DEVELOPMENT
3,3.0,Iceland,959.0,82.7,19.2,13.8,NaN,11.0,2.0,VERY HIGH HUMAN DEVELOPMENT
4,4.0,"Hong Kong, China (SAR)",952.0,85.5,17.3,12.2,NaN,6.0,4.0,VERY HIGH HUMAN DEVELOPMENT
5,5.0,Australia,951.0,84.5,21.1,12.7,NaN,18.0,5.0,VERY HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...,...,...,...
190,187.0,Burundi,426.0,61.7,10.7,3.1,732.0,4.0,187.0,LOW HUMAN DEVELOPMENT
191,188.0,Central African Republic,404.0,53.9,8.0,4.3,966.0,1.0,188.0,LOW HUMAN DEVELOPMENT
192,189.0,Niger,400.0,61.6,7.0,2.1,NaN,3.0,189.0,LOW HUMAN DEVELOPMENT
193,190.0,Chad,394.0,52.5,8.0,2.6,NaN,7.0,190.0,LOW HUMAN DEVELOPMENT
194,191.0,South Sudan,385.0,55.0,5.5,5.7,768.0,1.0,191.0,LOW HUMAN DEVELOPMENT

In [368]:
paises2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191 entries, 1 to 194
Data columns (total 10 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   HDI rank                                                  191 non-null    float64
 1   Country                                                   191 non-null    object
 2   Human Development Index (HDI) Value 2021                  191 non-null    float64
 3   Life expectancy at birth (years) 2021                     191 non-null    float64
 4   Expected years of schooling (years) 2021                  191 non-null    float64
 5   Mean years of schooling (years) 2021                      191 non-null    float64
 6   Gross national income (GNI) per capita (2017 PPP $) 2021  3 non-null      float64
 7   GNI per capita rank minus HDI rank  2021                  191 non-null    float64
 8   HDI rank  2020                                            191 non-null    float64
 9   Development                                               191 non-null    object
dtypes: float64(8), object(2)
memory usage: 16.4+ KB

In [369]:
paises2.describe() #MEDIDAS ESTADÍSTICAS

,HDI rank,Human Development Index (HDI) Value 2021,Life expectancy at birth (years) 2021,Expected years of schooling (years) 2021,Mean years of schooling (years) 2021,Gross national income (GNI) per capita (2017 PPP $) 2021,GNI per capita rank minus HDI rank 2021,HDI rank 2020
count,191.000000,191.000000,191.000000,191.000000,191.000000,3.0,191.000000,191.000000
mean,95.811518,720.575916,71.314660,13.530366,8.983770,822.0,10.638743,95.811518
std,55.307333,150.660627,7.646519,2.926039,3.173193,126.0,9.162301,55.279634
min,1.000000,385.000000,52.500000,5.500000,2.100000,732.0,0.000000,1.000000
25%,48.500000,599.500000,65.750000,11.600000,6.250000,750.0,4.000000,48.500000
50%,96.000000,739.000000,71.700000,13.400000,9.300000,768.0,8.000000,96.000000
75%,143.500000,835.000000,76.700000,15.600000,11.500000,867.0,14.000000,143.000000
max,191.000000,962.000000,85.500000,21.100000,14.100000,966.0,47.000000,191.000000

## Otros Territorios

In [370]:
#Se trabaja con los otros territorios:

In [371]:
otros1=otros.dropna(how='all', axis=0) #Elimina filas inncesarias

In [372]:
otros1=otros1.dropna(how='all', axis=1) #Elimina columnas innecesarias

In [373]:
otros1=otros1.reset_index(drop=True)

In [374]:
otros1

,Country,Human Development Index (HDI) Value 2021,Life expectancy at birth (years) 2021,Expected years of schooling (years) 2021,Mean years of schooling (years) 2021
0,Korea (Democratic People's Rep. of),NaN,73.3,10.8,NaN
1,Monaco,NaN,85.9,NaN,NaN
2,Nauru,NaN,63.6,11.7,NaN
3,Somalia,NaN,55.3,NaN,NaN
4,Human development groups,NaN,NaN,NaN,NaN
5,Very high human development,896.0,78.5,16.5,12.3
6,High human development,754.0,74.7,14.2,8.3
7,Medium human development,636.0,67.4,11.9,6.9
8,Low human development,518.0,61.3,9.5,4.9
9,Developing countries,685.0,69.9,12.3,7.5
10,Regions,NaN,NaN,NaN,NaN
11,Arab States,708.0,70.9,12.4,8.0
12,East Asia and the Pacific,749.0,75.6,13.8,7.8
13,Europe and Central Asia,796.0,72.9,15.4,10.6
14,Latin America and the Caribbean,754.0,72.1,14.8,9.0
15,South Asia,632.0,67.9,11.6,6.7
16,Sub-Saharan Africa,547.0,60.1,10.3,6.0
17,Least developed countries,540.0,64.2,10.2,5.2
18,Small island developing states,730.0,70.3,12.4,9.1
19,Organisation for Economic Co-operation and Dev...,899.0,79.0,16.5,12.3
20,World,732.0,71.4,12.8,8.6

In [375]:
otros1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 5 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Country                                   21 non-null     object
 1   Human Development Index (HDI) Value 2021  15 non-null     float64
 2   Life expectancy at birth (years) 2021     19 non-null     float64
 3   Expected years of schooling (years) 2021  17 non-null     float64
 4   Mean years of schooling (years) 2021      15 non-null     float64
dtypes: float64(4), object(1)
memory usage: 972.0+ bytes

In [376]:
otros1.describe() #MEDIDAS ESTADÍSTICAS

,Human Development Index (HDI) Value 2021,Life expectancy at birth (years) 2021,Expected years of schooling (years) 2021,Mean years of schooling (years) 2021
count,15.000000,19.000000,17.000000,15.000000
mean,705.066667,70.226316,12.770588,8.213333
std,115.926989,7.305541,2.136225,2.241768
min,518.000000,55.300000,9.500000,4.900000
25%,634.000000,65.800000,11.600000,6.800000
50%,730.000000,70.900000,12.400000,8.000000
75%,754.000000,74.000000,14.200000,9.050000
max,899.000000,85.900000,16.500000,12.300000